@using GovUk.Frontend.AspNetCore
@using Dfe.EarlyYearsQualification.Web.Helpers
@inject GtmConfiguration GtmConfiguration

<!DOCTYPE html>
<html class="govuk-template" lang="en">

@{
    var gtmTag = GtmConfiguration.GtmTag;
}

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Check an Early Years qualification</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="/assets/images/favicon.svg"/>
    @Html.GovUkFrontendStyleImports()
    @{
        if (GtmConfiguration.UseCookies && !string.IsNullOrEmpty(gtmTag))
        {
            <script src="~/js/gtm/head-script.js" asp-append-version="true" id="ga-script" data-ga-tag=@gtmTag></script>
        }
    }
</head>

<body>
@{
    if (GtmConfiguration.UseCookies && !string.IsNullOrEmpty(gtmTag))
    {
        <!-- Google Tag Manager (noscript) -->
        <noscript>
            <iframe src=`https://www.googletagmanager.com/ns.html?id=@gtmTag`
                    height="0" width="0" style="display:none;visibility:hidden">
            </iframe>
        </noscript>
        <!-- End Google Tag Manager (noscript) -->
    }
}

@Html.GovUkFrontendJsEnabledScript()
@{
    await Html.RenderPartialAsync("_Header");
}

<div class="govuk-width-container">
    @await RenderSectionAsync("BeforeMainContent", false)
    <main class="govuk-main-wrapper" role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

@{
    await Html.RenderPartialAsync("_Footer");
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)
@Html.GovUkFrontendScriptImports()
</body>

</html>