@model Dfe.EarlyYearsQualification.Web.Models.Content.DateQuestionModel

@{
    ViewData["Title"] = "Questions";
}

<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group @(Model.HasErrors ? "govuk-form-group--error" : "")">
        @using (Html.BeginForm(Model.ActionName, Model.ControllerName, FormMethod.Post))
            {
                <fieldset class="govuk-fieldset govuk-!-margin-bottom-4">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading" id="question">
                            @Model.Question
                        </h1>
                    </legend>
                    <div id="date-format-hint" class="govuk-hint">@Model.QustionHint</div>

                    @if (Model.HasErrors)
                      {
                          <p class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> @Model.ErrorMessage
                          </p>
                      }

                    <div class="govuk-date-input" id="date-started">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="date-started-month">@Model.MonthLabel</label>
                                @Html.TextBoxFor(x => x.SelectedMonth, "{0:#.#}", new { id = "date-started-month", @class = "govuk-input govuk-date-input__input govuk-input--width-2", maxlength = "2", name="date-started-month", type="text", inputmode="numeric", Value = ""})
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-date-input__label" for="date-started-year">@Model.YearLabel</label>
                                @Html.TextBoxFor(x => x.SelectedYear, "{0:#.#}", new { id = "date-started-year", @class = "govuk-input govuk-date-input__input govuk-input--width-4", maxlength = "4", name="date-started-month", type="text", inputmode="numeric", Value = ""})
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="govuk-form-group">
                    <button id="question-submit" type="submit" class="govuk-button" data-module="govuk-button">
                        @Model.CtaButtonText
                    </button>
                </div>
            }
        </div>
    </div>
</div>