@using Dfe.EarlyYearsQualification.Web.Models.Content
@using Dfe.EarlyYearsQualification.Web.Models.Content.QuestionModels
@model Dfe.EarlyYearsQualification.Web.Models.Content.QuestionModels.RadioQuestionModel

@{
    ViewData["Title"] = Model.Question;
}

@section Scripts
{
    <script src="~/js/pages/components/radio-button-with-nested-input.js" asp-append-version="true"></script>
}

@section BeforeMainContent {
    @{
        await Html.RenderPartialAsync("Partials/BackButton", Model.BackButton);
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (Model.ErrorSummaryModel != null)
        {
            await Html.RenderPartialAsync("Partials/ErrorSummary", Model.ErrorSummaryModel!);
        }
        @using (Html.BeginForm(Model.ActionName, Model.ControllerName, FormMethod.Post, new { id = "radio-question-form" }))
        {
            <div class="govuk-form-group @(Model is { HasErrors: true, HasNestedErrors: false } ? "govuk-form-group--error" : "")">
                <fieldset class="govuk-fieldset govuk-!-margin-bottom-4">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-heading-xl govuk-!-margin-bottom-1" id="question">
                            @Model.Question
                        </h1>
                    </legend>

                    @if (!string.IsNullOrEmpty(Model.AdditionalInformationHeader) && !string.IsNullOrEmpty(Model.AdditionalInformationBody))
                    {
                        await Html.RenderPartialAsync("Partials/AdditionalInformation", new AdditionalInformationModel
                                                                                        {
                                                                                            AdditionalInformationHeader = Model.AdditionalInformationHeader,
                                                                                            AdditionalInformationBody = Model.AdditionalInformationBody
                                                                                        });
                    }

                    @if (!string.IsNullOrEmpty(Model.PostHeadingContent))
                    {
                        @Html.Raw(Model.PostHeadingContent)
                    }

                    @if (Model is { HasErrors: true, HasNestedErrors: false })
                    {
                        <govuk-error-message id="option-error" visually-hidden-text="Error">@Model.ErrorMessage</govuk-error-message>
                    }
                    <div class="govuk-radios" data-module="govuk-radios">
                        @foreach (var option in Model.OptionsItems)
                        {
                            if (option.GetType() == typeof(OptionModel))
                            {
                                var optionModel = option as OptionModel;
                                var @checked = optionModel!.Value == Model.Option ? "checked" : "";
                                <div class="govuk-radios__item">

                                    @Html.RadioButtonFor(x => x.Option, optionModel.Value, new { @class = "govuk-radios__input", id = optionModel.Value, @checked })
                                    <label class="govuk-label govuk-radios__label" for="@optionModel.Value">
                                        @optionModel.Label
                                    </label>
                                    @if (!string.IsNullOrEmpty(optionModel.Hint))
                                    {
                                        var hintId = $"{optionModel.Value}_hint";
                                        <div id="@hintId" class="govuk-hint govuk-radios__hint">
                                            @optionModel.Hint
                                        </div>
                                    }
                                </div>
                            }
                            if (option.GetType() == typeof(DividerModel))
                            {
                                var optionModel = option as DividerModel;
                                <div class="govuk-radios__divider">@optionModel!.Text</div>
                            }
                            if (option.GetType() == typeof(RadioButtonAndDateInputModel))
                            {
                                var questionData = option as RadioButtonAndDateInputModel;

                                <div class="govuk-radios__item">
                                    @Html.RadioButtonFor(x => x.Option, questionData!.Value, new { @class = $"govuk-radios__input {(Model.HasNestedErrors ? "has__conditional__element" : "has__no__conditional__element")}", id = questionData.Value, nested="true" })

                                    <label class="govuk-label govuk-radios__label" for="@questionData.Value">
                                        @questionData.Label
                                    </label>
                                    @if (!string.IsNullOrEmpty(questionData.Hint))
                                    {
                                        <div id="@($"{questionData.Value}_hint")" class="govuk-hint govuk-radios__hint">
                                            @questionData.Hint
                                        </div>
                                    }
                                </div>
                                <div class="govuk-radios__conditional govuk-!-margin-bottom-0 govuk-!-display-none">
                                    <div class="govuk-form-group">
                                        @if (questionData.Question is not null)
                                        {
                                            await Html.RenderPartialAsync("Partials/Date", questionData.Question);
                                        }
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </fieldset>
            </div>

            @if (!string.IsNullOrEmpty(Model.WarningText))
            {
                await Html.RenderPartialAsync("Partials/WarningText", new WarningTextModel { WarningText = Model.WarningText });
            }

            <div class="govuk-form-group">
                <govuk-button id="question-submit" type="submit">@Model.CtaButtonText</govuk-button>
            </div>
        }
    </div>
</div>