@model Dfe.EarlyYearsQualification.Web.Models.Content.StartPageModel

@{
    ViewData["Title"] = "Start";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-xl">@Model.Header</h1>
        <div id="pre-cta-content" class="govuk-body">@Html.Raw(Model.PreCtaButtonContent)</div>
        @* SonarLint says turn this into a button, or give it onKeyPress|onKeyDown|onKeyUp attribute -- but this construct is mandated by Gov UK guidelines *@
        <a href="@Url.Action("PreCheck", "Questions")" role="button" draggable="false"
           class="govuk-button govuk-button--start" data-module="govuk-button" id="start-now-button">
            @Model.CtaButtonText
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                 viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"/>
            </svg>
        </a>
        <div id="post-cta-content" class="govuk-body">@Html.Raw(Model.PostCtaButtonContent)</div>
    </div>
    @if (!string.IsNullOrEmpty(Model.RightHandSideContentHeader) && !string.IsNullOrEmpty(Model.RightHandSideContent))
    {
        <div class="govuk-grid-column-full govuk-grid-column-one-third-from-desktop">
            <aside>
                <h2 id="right-hand-content-header" class="govuk-heading-m" id="subsection-title">
                    @Model.RightHandSideContentHeader
                </h2>
                <nav id="right-hand-content" role="navigation" aria-labelledby="subsection-title">
                    @Html.Raw(Model.RightHandSideContent)
                </nav>
            </aside>
        </div>
    }
</div>