@model Dfe.EarlyYearsQualification.Web.Models.Content.StartPageModel

@{
    ViewData["Title"] = "Start";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-xl">@Model.Header</h1>
        <div id="pre-cta-content" class="govuk-body">@Html.Raw(Model.PreCtaButtonContent)</div>
        <govuk-button-link id="start-now-button" is-start-button="true" href="@Url.Action("PreCheck", "Questions")">@Model.CtaButtonText</govuk-button-link>
        <div id="post-cta-content" class="govuk-body">@Html.Raw(Model.PostCtaButtonContent)</div>
    </div>
    @if (!string.IsNullOrEmpty(Model.RightHandSideContentHeader) && !string.IsNullOrEmpty(Model.RightHandSideContent))
    {
        <div class="govuk-grid-column-full govuk-grid-column-one-third-from-desktop">
            <aside>
                <h2 id="right-hand-content-header" class="govuk-heading-m" id="subsection-title">
                    @Model.RightHandSideContentHeader
                </h2>
                <nav id="right-hand-content" role="navigation" aria-labelledby="subsection-title">
                    @Html.Raw(Model.RightHandSideContent)
                </nav>
            </aside>
        </div>
    }
</div>