@model Dfe.EarlyYearsQualification.Web.Models.Content.CheckYourAnswersPageModel

@{
    ViewData["Title"] = "Check your answers";
}

@section BeforeMainContent {
    @{
        await Html.RenderPartialAsync("Partials/BackButton", Model.BackButton);
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-xl">@Model.PageHeading</h1>
        <govuk-summary-list class="summary-list-action">
            @foreach (var answer in Model.QuestionAnswerModels.Select((value, index) => new { index, value }))
            {
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key id="question-@(answer.index + 1)-question">
                        @answer.value.Question
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value id="question-@(answer.index + 1)-answer">
                        @for (var i = 0; i < answer.value.Answer.Length; i++)
                        {
                            <p style="margin-bottom: @(i + 1 < answer.value.Answer.Length ? "10px" : "0")">@answer.value.Answer[i]</p>
                        }
                    </govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions id="question-@(answer.index + 1)-change">
                        <govuk-summary-list-row-action href="@answer.value.ChangeAnswerHref" visually-hidden-text="@answer.value.Question">
                            @Model.ChangeAnswerText
                        </govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
            }
        </govuk-summary-list>

        <a id="cta-button" href="@Url.Action("Get", "QualificationSearch")" class="govuk-button"
           data-module="govuk-button">
            @Model.CtaButtonText
        </a>
    </div>
</div>