@model Dfe.EarlyYearsQualification.Web.Models.Content.CheckAdditionalRequirementsAnswerPageModel

@{
    ViewData["Title"] = "Check additional requirements answers";
}

@section BeforeMainContent {
    @{
        await Html.RenderPartialAsync("Partials/BackButton", Model.BackButton);
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-xl">@Model.PageHeading</h1>
        <dl class="govuk-summary-list summary-list-action">
            @foreach (var answer in Model.Answers!.Select((value, index) => new { index, value }))
            {
                <div class="govuk-summary-list__row">
                    <dt id="question-@(answer.index + 1)-question" class="govuk-summary-list__key">
                        @answer.value.Key
                    </dt>
                    <dd id="question-@(answer.index + 1)-answer" class="govuk-summary-list__value">
                        @answer.value.Value
                    </dd>
                    <dd id="question-@(answer.index + 1)-change" class="govuk-summary-list__actions">
                        <a href="@(Model.ChangeQuestionHref + (answer.index + 1))"
                           class="govuk-link">
                            @Model.ChangeAnswerText <span id="question-@(answer.index + 1)-change-hidden" class="govuk-visually-hidden">@answer.value.Key</span>
                        </a>
                    </dd>
                </div>
            }
        </dl>

        @{
            await Html.RenderPartialAsync("Partials/WarningText", new WarningTextModel{ WarningText = Model.AnswerDisclaimerText });
        }
        <govuk-button-link id="confirm-answers" href="@Model.GetResultsHref">@Model.ButtonText</govuk-button-link>
    </div>
</div>