@model Dfe.EarlyYearsQualification.Web.Models.Content.CheckAdditionalRequirementsAnswerPageModel

@{
    ViewData["Title"] = "Check additional requirements answers";
}

@section BeforeMainContent {
    @{
        await Html.RenderPartialAsync("Partials/BackButton", Model.BackButton);
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-xl">@Model.PageHeading</h1>
        <govuk-summary-list class="summary-list-action">
            @foreach (var answer in Model.Answers!.Select((value, index) => new { index, value }))
            {
                <govuk-summary-list-row>
                    <govuk-summary-list-row-key id="question-@(answer.index + 1)-question">
                        @answer.value.Key
                    </govuk-summary-list-row-key>
                    <govuk-summary-list-row-value id="question-@(answer.index + 1)-answer">
                        @answer.value.Value
                    </govuk-summary-list-row-value>
                    <govuk-summary-list-row-actions id="question-@(answer.index + 1)-change">
                        <govuk-summary-list-row-action  href="@(Model.ChangeQuestionHref + (answer.index + 1))" visually-hidden-text="@answer.value.Key">
                            @Model.ChangeAnswerText
                        </govuk-summary-list-row-action>
                    </govuk-summary-list-row-actions>
                </govuk-summary-list-row>
            }
        </govuk-summary-list>

        @{
            await Html.RenderPartialAsync("Partials/WarningText", new WarningTextModel{ WarningText = Model.AnswerDisclaimerText });
        }
        <govuk-button-link id="confirm-answers" href="@Model.GetResultsHref">@Model.ButtonText</govuk-button-link>
    </div>
</div>