@model Dfe.EarlyYearsQualification.Web.Models.Content.CheckAdditionalRequirementsAnswerPageModel

@{
    ViewData["Title"] = "Check additional requirements answers";
}

@section BeforeMainContent {
    @{
        await Html.RenderPartialAsync("Partials/BackButton", Model.BackButton);
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-xl">@Model.PageHeading</h1>
        <table class="govuk-table">
            <colgroup>
                <col span="1" style="width: 60%;">
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 20%;">
            </colgroup>
            @foreach (var answer in Model.Answers!)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell govuk-!-text-align-left">
                        <strong>@answer.Key</strong>
                    </td>
                    <td class="govuk-table__cell govuk-!-text-align-centre">
                        @answer.Value
                    </td>
                    <td class="govuk-table__cell govuk-!-text-align-right ">
                        <a href="#" class="govuk-link">@Model.ChangeAnswerText</a>
                    </td>
                </tr>
            }
        </table>
        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
                @Model.AnswerDisclaimerText
            </strong>
        </div>
        <a href="@Model.GetResultsHref" class="govuk-button" data-module="govuk-button">
            @Model.ButtonText
        </a>
    </div>
</div>