@model Dfe.EarlyYearsQualification.Web.Models.Content.EarlyYearsQualificationListModel

@{
    ViewData["Title"] = "Early Years Qualification List";
}

@section Scripts
{
    <!--<script src="~/js/pages/qualification-details-page.js" asp-append-version="true"></script> -->
}

@section BeforeMainContent
{
    @{
        await Html.RenderPartialAsync("Partials/BackButton", Model.BackButton);
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 id="heading" class="govuk-heading-xl">@Model.Heading</h1>
        <div id="body" class="govuk-body">
            <div class="govuk-!-margin-bottom-7" id="post-heading-content">
                @Html.Raw(Model.PostHeadingContent)
                <govuk-button class="govuk-button--secondary">@Model.DownloadButtonText</govuk-button>
            </div>
        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <div class="filter">
            <div class="filter__header">
                <h2 class="govuk-heading-m">
                    Filter
                </h2>
            </div>
            <div class="filter__selected-filters">
                <h2 class="govuk-heading-m">
                    Selected filters
                </h2>
                <p class="govuk-body">
                    No filters selected.
                </p>
            </div>
            <div class="filter__filter-body">
                <div class="filter__filter-body__section">
                    <h2 class="govuk-heading-m">
                        Keywords
                    </h2>
                    <input class="govuk-input" name="keyword"/>
                </div>
                <div class="filter__filter-body__section">
                    <govuk-radios name="qualification-start-date">
                        <govuk-radios-fieldset>
                            <govuk-radios-fieldset-legend is-page-heading="false" class="govuk-fieldset__legend--m">
                                Qualification start date
                            </govuk-radios-fieldset-legend>
                            <govuk-radios-item value="BeforeSeptember2014">
                                Before September 2014
                            </govuk-radios-item>
                            <govuk-radios-item value="OnOrAfterSeptember2014">
                                On or after September 2014
                            </govuk-radios-item>
                            <govuk-radios-item value="OnOrAfterSeptember2024">
                                On or after September 2024
                            </govuk-radios-item>
                        </govuk-radios-fieldset>
                    </govuk-radios>
                </div>
                <div class="filter__filter-body__section">
                    <govuk-radios name="qualification-level">
                        <govuk-radios-fieldset>
                            <govuk-radios-fieldset-legend is-page-heading="false" class="govuk-fieldset__legend--m">
                                Qualification level
                            </govuk-radios-fieldset-legend>
                            <govuk-radios-item value="2">
                                Level 2
                            </govuk-radios-item>
                            <govuk-radios-item value="3">
                                Level 3
                            </govuk-radios-item>
                            <govuk-radios-item value="4">
                                Level 4
                            </govuk-radios-item>
                            <govuk-radios-item value="5">
                                Level 5
                            </govuk-radios-item>
                            <govuk-radios-item value="6">
                                Level 6
                            </govuk-radios-item>
                            <govuk-radios-item value="7">
                                Level 7
                            </govuk-radios-item>
                        </govuk-radios-fieldset>
                    </govuk-radios>
                </div>
                <govuk-button class="govuk-button govuk-!-margin-bottom-0">Apply filters</govuk-button>
            </div>
        </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">
            @Model.ShowingAllQualificationsLabel
        </h2>
        @{
            foreach (var qualification in Model.Qualifications)
            {
                <govuk-summary-card>
                    <govuk-summary-card-title>@qualification.QualificationName</govuk-summary-card-title>
                    <govuk-summary-list>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>@Model.QualificationLevelLabel</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>@qualification.QualificationLevel</govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>@Model.StaffChildRatioLabel</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>TODO</govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>@Model.FromWhichYearLabel</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>TODO</govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>@Model.AwardingOrganisationLabel</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>@qualification.AwardingOrganisationTitle</govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                        @{
                            if (!string.IsNullOrEmpty(qualification.QualificationNumber))
                            {
                                <govuk-summary-list-row>
                                    <govuk-summary-list-row-key>@Model.QualificationNumberLabel</govuk-summary-list-row-key>
                                    <govuk-summary-list-row-value>@qualification.QualificationNumber</govuk-summary-list-row-value>
                                </govuk-summary-list-row>
                            }
                        }
                        <govuk-summary-list-row>
                            <govuk-summary-list-row-key>@Model.NotesAdditionalRequirementsLabel</govuk-summary-list-row-key>
                            <govuk-summary-list-row-value>TODO</govuk-summary-list-row-value>
                        </govuk-summary-list-row>
                    </govuk-summary-list>
                </govuk-summary-card>
            }
        }
    </div>
</div>