@using Dfe.EarlyYearsQualification.Web.Models.Content.HelpViewModels
@model ConfirmationPageViewModel

@{
    ViewData["Title"] = Model.BodyHeading;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title" id="success-message">
                @Model.SuccessMessage
            </h1>
        </div>

        <p class="govuk-body govuk-!-margin-bottom-4">
            @Model.SuccessMessageFollowingText
        </p>

        <h2 class="govuk-heading-m" id="help-confirmation-body-heading">@Model.BodyHeading</h2>
        <div class="govuk-body" id="help-confirmation-body">@Html.Raw(Model.Body)</div>
        @{
            await Html.RenderPartialAsync("Partials/FeedbackComponent", Model.FeedbackComponent);
            var link = Model.ReturnToTheHomepageLink;
            <div class="govuk-body">
                <a id="return-button" href="@link!.Href" class="govuk-link"
                   target=@(link.OpenInNewTab ? "_blank" : "")>@link.DisplayText</a>
            </div>
        }
    </div>
</div>