@using Dfe.EarlyYearsQualification.Web.Models.Content.HelpViewModels
@using Dfe.EarlyYearsQualification.Web.Models.Content.QuestionModels
@model ProvideDetailsPageViewModel

@{
    ViewData["Title"] = Model.Heading;
}

@section BeforeMainContent {
    @{
        await Html.RenderPartialAsync("Partials/BackButton", Model.BackButton);
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
        @if (Model.HasValidationErrors)
        {
            await Html.RenderPartialAsync("Partials/ErrorSummary", Model.ErrorSummaryModel);
        }

        @using (Html.BeginForm("provide-details", "help", FormMethod.Post, new { id = "provide-additional-details-form" }))
        {
            <div class="govuk-form-group govuk-!-margin-bottom-6 @(Model.HasAdditionalInformationError ? "govuk-form-group--error" : "")">
                <h1 class="govuk-heading-xl govuk-label-wrapper govuk-!-margin-bottom-3" id="additional-information-heading">
                    <label for="ProvideAdditionalInformation">
                        @Model.Heading
                    </label>
                </h1>
                <div id="additional-information-hint" class="govuk-hint">
                    @Model.PostHeadingContent
                </div>
                @if (Model.HasAdditionalInformationError)
                {
                    <p id="additional-information-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">
                            Error:
                        </span>@Model.AdditionalInformationErrorMessage
                    </p>
                }
                @{
                    await Html.RenderPartialAsync("Partials/WarningText", new WarningTextModel { WarningText = Model.AdditionalInformationWarningText, ReduceMargin = true });
                }
                @Html.TextAreaFor(x => x.ProvideAdditionalInformation, 5, 1, new { @class = "govuk-textarea", aria_describedby = "additional-information-hint" })
            </div>

            <div class="govuk-form-group">
                <govuk-button id="question-submit" type="submit">@Model.CtaButtonText</govuk-button>
            </div>
        }
    </div>
</div>