@model Dfe.EarlyYearsQualification.Web.Models.Content.HelpViewModels.QualificationDetailsPageViewModel

@{
    ViewData["Title"] = Model.Heading;
}

@section Scripts
{
    <script src="~/js/pages/components/radio-button-with-nested-input.js" asp-append-version="true"></script>
}

@section BeforeMainContent {
    @{
        await Html.RenderPartialAsync("Partials/BackButton", Model.BackButton);
    }
}

@using (Html.BeginForm("QualificationDetails", "Help", FormMethod.Post, new { id = "qualification-details-form" }))
{
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
            @if (Model.HasValidationErrors)
            {
                await Html.RenderPartialAsync("Partials/ErrorSummary", Model.ErrorSummaryModel);
            }

            <h1 class="govuk-heading-xl" id="enquiry-heading">@Model.Heading</h1>
            <div class="govuk-body govuk-!-margin-bottom-7" id="post-heading-content">
                @Html.Raw(Model.PostHeadingContent)
            </div>

            <div class="govuk-form-group govuk-!-margin-bottom-6  @(Model.HasQualificationNameError ? "govuk-form-group--error" : "")">
                <h2 class="govuk-label-wrapper govuk-!-margin-bottom-3" id="qualification-name-heading">
                    <label class="govuk-label govuk-label--s" for="QualificationName">
                        @Model.QualificationNameHeading
                    </label>
                </h2>
                @if (Model.HasQualificationNameError)
                {
                    <govuk-error-message id="qualification-name-error" visually-hidden-text="Error">@Model.QualificationNameErrorMessage</govuk-error-message>
                }
                @Html.TextBoxFor(x => x.QualificationName, new { @class = "govuk-input", autocomplete = "off" })
            </div>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
            <div class="govuk-form-group @(Model is { HasOptionError: true } ? "govuk-form-group--error" : "")">
                <fieldset class="govuk-fieldset govuk-!-margin-bottom-4">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h2 class="govuk-label govuk-label--s" for="question">
                            @Model.RadioButtonWithDateInputModel.Question.QuestionHeader
                        </h2>
                    </legend>
 
                    @if (Model.HasOptionError)
                    {
                        <govuk-error-message id="option-error" visually-hidden-text="Error">@Model.MissingStartedDateOptionErrorMessage</govuk-error-message>
                    }

                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            @Html.RadioButtonFor(x => x.Option, Model.Before2014Option.Value, new { @class = "govuk-radios__input", id = Model.Before2014Option.Value, })
                            <label class="govuk-label govuk-radios__label" for="@Model.Before2014Option.Value">
                                @Model.Before2014Option.Label
                            </label>
                            @if (!string.IsNullOrEmpty(Model.Before2014Option.Hint))
                            {
                                var hintId = $"{Model.Before2014Option.Value}_hint";
                                <div id="@hintId" class="govuk-hint govuk-radios__hint">
                                    @Model.Before2014Option.Hint
                                </div>
                            }
                        </div>
                        <div class="govuk-radios__item">
                            @Html.RadioButtonFor(x => x.Option, Model.RadioButtonWithDateInputModel.Value, new { @class = $"govuk-radios__input", id = Model.RadioButtonWithDateInputModel.Value, nested = "true" })
                            <label class="govuk-label govuk-radios__label" for="@Model.RadioButtonWithDateInputModel.Value">
                                @Model.RadioButtonWithDateInputModel.Label
                            </label>
                            @if (!string.IsNullOrEmpty(Model.RadioButtonWithDateInputModel.Hint))
                            {
                                <div id="@($"{Model.RadioButtonWithDateInputModel.Value}_hint")" class="govuk-hint govuk-radios__hint">
                                    @Model.RadioButtonWithDateInputModel.Hint
                                </div>
                            }
                        </div>
                        <div class="govuk-radios__conditional govuk-!-margin-bottom-0 govuk-!-display-none">
                            <div class="govuk-form-group">
                                @{
                                    await Html.RenderPartialAsync("Partials/Date", Model.RadioButtonWithDateInputModel.Question);
                                }
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @{
                await Html.RenderPartialAsync("Partials/Date", Model.AwardedDate);
            }
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
            <div class="govuk-form-group govuk-!-margin-bottom-6 @(Model.HasAwardingOrganisationError ? "govuk-form-group--error" : "")">
                <h2 class="govuk-label-wrapper govuk-!-margin-bottom-3" id="awarding-organisation-heading">
                    <label class="govuk-label govuk-label--s" for="AwardingOrganisation">
                        @Model.AwardingOrganisationHeading
                    </label>
                </h2>
                @if (Model.HasAwardingOrganisationError)
                {
                    <govuk-error-message id="qualification-organisation-error" visually-hidden-text="Error">@Model.AwardingOrganisationErrorMessage</govuk-error-message>
                }
                @Html.TextBoxFor(x => x.AwardingOrganisation, new { @class = "govuk-input", autocomplete = "off" })
            </div>

            <div class="govuk-form-group">
                <govuk-button id="question-submit" type="submit">@Model.CtaButtonText</govuk-button>
            </div>
        </div>
    </div>
}
