@using Dfe.EarlyYearsQualification.Web.Models.Content.HelpViewModels
@using Dfe.EarlyYearsQualification.Web.Models.Content.QuestionModels
@model QualificationDetailsPageViewModel

@{
    ViewData["Title"] = Model.Heading;
}

@{
    var monthClass = "govuk-input govuk-date-input__input govuk-input--width-2";
    var monthErrorClass = monthClass + " govuk-input--error";

    var yearClass = "govuk-input govuk-date-input__input govuk-input--width-4";
    var yearErrorClass = yearClass + " govuk-input--error";
}

@section BeforeMainContent {
    @{
        await Html.RenderPartialAsync("Partials/BackButton", Model.BackButton);
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
        @if (Model.HasValidationErrors)
        {
            await Html.RenderPartialAsync("Partials/ErrorSummary", Model.ErrorSummaryModel);
        }

        <h1 class="govuk-heading-xl" id="help-page-heading">@Model.Heading</h1>
        <div class="govuk-body govuk-!-margin-bottom-7" id="post-heading-content">
            @Html.Raw(Model.PostHeadingContent)
        </div>

        @using (Html.BeginForm("qualification-details", "help", FormMethod.Post, new { id = "qualification-details-form" }))
        {
            <div class="govuk-form-group govuk-!-margin-bottom-6  @(Model.HasQualificationNameError ? "govuk-form-group--error" : "")">
                <h2 class="govuk-label-wrapper govuk-!-margin-bottom-3" id="qualification-name-heading">
                    <label class="govuk-label govuk-label--m" for="QualificationName">
                        @Model.QualificationNameHeading
                    </label>
                </h2>
                @if (Model.HasQualificationNameError)
                {
                    <p id="qualification-name-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">
                            Error:
                        </span>@Model.QualificationNameErrorMessage
                    </p>
                }
                @Html.TextBoxFor(x => x.QualificationName, new { @class = "govuk-input" })
            </div>

            <div class="govuk-form-group govuk-!-margin-bottom-6">
                <div class="govuk-form-group @(!string.IsNullOrEmpty(Model?.QuestionModel?.StartedQuestion?.ErrorMessage) ? "govuk-form-group--error" : "")">
                    <h2 class="govuk-heading-s" id="@Model.OptionalQualificationStartDate.Prefix-header">@Model.OptionalQualificationStartDate.QuestionHeader</h2>

                    @if (!string.IsNullOrEmpty(Model?.QuestionModel?.StartedQuestion?.ErrorMessage))
                    {
                        <p id="@Model.OptionalQualificationStartDate.Prefix-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>@Html.Raw(Model.QuestionModel.StartedQuestion.ErrorMessage)
                        </p>
                    }

                    <div class="govuk-date-input" id="@Model.OptionalQualificationStartDate.QuestionId">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label id="@Model.OptionalQualificationStartDate.Prefix-month-label" class="govuk-label govuk-date-input__label"
                                       for="@Model.OptionalQualificationStartDate.MonthId">@Model.OptionalQualificationStartDate.MonthLabel</label>
                                @Html.TextBox(Model.OptionalQualificationStartDate.MonthId, Model.StartDateSelectedMonth, new { id = Model.OptionalQualificationStartDate.MonthId, @class = Model.OptionalQualificationStartDate.MonthError ? monthErrorClass : monthClass, maxlength = 2, name = Model.OptionalQualificationStartDate.MonthId, type = "text", inputmode = "numeric" })
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label id="@Model.OptionalQualificationStartDate.Prefix-year-label" class="govuk-label govuk-date-input__label"
                                       for="@Model.OptionalQualificationStartDate.YearId">@Model.OptionalQualificationStartDate.YearLabel</label>
                                @Html.TextBox(Model.OptionalQualificationStartDate.YearId, Model.StartDateSelectedYear, new { id = Model.OptionalQualificationStartDate.YearId, @class = Model.OptionalQualificationStartDate.YearError ? yearErrorClass : yearClass, maxlength = 4, name = Model.OptionalQualificationStartDate.YearId, type = "text", inputmode = "numeric" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="govuk-form-group govuk-!-margin-bottom-6">
                <div class="govuk-form-group @(!string.IsNullOrEmpty(Model?.QuestionModel?.AwardedQuestion?.ErrorMessage) ? "govuk-form-group--error" : "")">
                    <h2 class="govuk-heading-s" id="@Model.QualificationAwardedDate.Prefix-header">@Model.QualificationAwardedDate.QuestionHeader</h2>

                    @if (!string.IsNullOrEmpty(Model?.QuestionModel?.AwardedQuestion?.ErrorMessage))
                    {
                        <p id="@Model.QualificationAwardedDate.Prefix-error" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>@Html.Raw(Model.QuestionModel.AwardedQuestion.ErrorMessage)
                        </p>
                    }

                    <div class="govuk-date-input" id="@Model.QualificationAwardedDate.QuestionId">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label id="@Model.QualificationAwardedDate.Prefix-month-label" class="govuk-label govuk-date-input__label"
                                       for="@Model.QualificationAwardedDate.MonthId">@Model.QualificationAwardedDate.MonthLabel</label>
                                @Html.TextBox(Model.QualificationAwardedDate.MonthId, Model.QualificationAwardedDate.SelectedMonth, new { id = Model.QualificationAwardedDate.MonthId, @class = Model.QualificationAwardedDate.MonthError ? monthErrorClass : monthClass, maxlength = 2, name = Model.QualificationAwardedDate.MonthId, type = "text", inputmode = "numeric" })
                            </div>
                        </div>
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label id="@Model.QualificationAwardedDate.Prefix-year-label" class="govuk-label govuk-date-input__label"
                                       for="@Model.QualificationAwardedDate.YearId">@Model.QualificationAwardedDate.YearLabel</label>
                                @Html.TextBox(Model.QualificationAwardedDate.YearId, Model.QualificationAwardedDate.SelectedYear, new { id = Model.QualificationAwardedDate.YearId, @class = Model.QualificationAwardedDate.YearError ? yearErrorClass : yearClass, maxlength = 4, name = Model.QualificationAwardedDate.YearId, type = "text", inputmode = "numeric" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="govuk-form-group govuk-!-margin-bottom-6 @(Model.HasAwardingOrganisationError ? "govuk-form-group--error" : "")">
                <h2 class="govuk-label-wrapper govuk-!-margin-bottom-3" id="awarding-organisation-heading">
                    <label class="govuk-label govuk-label--m" for="AwardingOrganisation">
                        @Model.AwardingOrganisationHeading
                    </label>
                </h2>
                @if (Model.HasAwardingOrganisationError)
                {
                    <p id="qualification-name-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">
                            Error:
                        </span>@Model.AwardingOrganisationErrorMessage
                    </p>
                }
                @Html.TextBoxFor(x => x.AwardingOrganisation, new { @class = "govuk-input" })
            </div>

            <div class="govuk-form-group">
                <button id="question-submit" type="submit" class="govuk-button" data-module="govuk-button">
                    @Model.CtaButtonText
                </button>
            </div>
        }
    </div>
</div>