@model Dfe.EarlyYearsQualification.Web.Models.Content.QuestionModels.DateQuestionModel

@{
    var monthClass = Model.MonthError ? "govuk-input govuk-date-input__input govuk-input--width-2 govuk-input--error" : "govuk-input govuk-date-input__input govuk-input--width-2";
    var yearClass = Model.YearError ? "govuk-input govuk-date-input__input govuk-input--width-4 govuk-input--error" : "govuk-input govuk-date-input__input govuk-input--width-4";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div
            class="govuk-form-group @(Model.MonthError || Model.YearError ? "govuk-form-group--error" : "")">

            @if (!string.IsNullOrEmpty(Model.QuestionHeader))
            {
                <h2 class="govuk-heading-s" id="@Model.Prefix-header">@Model.QuestionHeader</h2>
            }

            @if (!string.IsNullOrEmpty(Model.QuestionHint))
            {
                <div id="@Model.Prefix-hint" class="govuk-hint">@Model.QuestionHint</div>
            }

            @if (Model.MonthError || Model.YearError)
            {
                <p id="@Model.Prefix-error" class="govuk-error-message"><span
                        class="govuk-visually-hidden">Error:</span>@Html.Raw(Model.ErrorMessage)
                </p>
            }

            <div class="govuk-date-input" id="@Model.QuestionId">
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label id="@Model.Prefix-month-label" class="govuk-label govuk-date-input__label"
                               for="@Model.MonthId">@Model.MonthLabel</label>
                        @Html.TextBox(Model.MonthId, Model.SelectedMonth, new { id = Model.MonthId, @class=monthClass, maxlength=2, name=Model.MonthId, type="text", inputmode="numeric" })
                    </div>
                </div>
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label id="@Model.Prefix-year-label" class="govuk-label govuk-date-input__label"
                               for="@Model.YearId">@Model.YearLabel</label>
                        @Html.TextBox(Model.YearId, Model.SelectedYear, new { id = Model.YearId, @class=yearClass, maxlength=4, name=Model.YearId, type="text", inputmode="numeric" })
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
