@using Dfe.EarlyYearsQualification.Web.Helpers
@model Dfe.EarlyYearsQualification.Web.Models.Content.UpDownFeedbackModel
@inject TrackingConfiguration TrackingConfiguration

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/pages/components/up-down-feedback-component.js" asp-append-version="true"></script>

<div id="ud-feedback" class="govuk-!-display-none-print">
    @if (TrackingConfiguration.UseCookies)
    {
        <div id="ud-prompt" class="ud-feedback__prompt ud-feedback__js-show" tabindex="-1" hidden>
            <div class="ud-feedback__prompt-content">
                <div class="ud-feedback__prompt-questions feedback-buttons">
                    <div class="ud-feedback__prompt-question-answer">
                        <h2 class="ud-feedback__prompt-question">@Model.Question</h2>
                        <ul class="ud-feedback__option-list">
                            <li class="ud-feedback__option-list-item">
                                <button id="ud-page-is-useful" class="govuk-button ud-feedback__button">
                                    @Model.YesButtonText
                                    <span
                                        class="govuk-visually-hidden">@Model.YesButtonSubText</span>
                                </button>
                            </li>
                            <li class="ud-feedback__option-list-item">
                                <button id="ud-page-is-not-useful" class="govuk-button ud-feedback__button">
                                    @Model.NoButtonText
                                    <span class="govuk-visually-hidden">@Model.NoButtonSubText</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="ud-prompt-success" class="ud-feedback__prompt-questions ud-feedback__prompt-success"
                     role="alert">
                    @Model.UsefulResponse
                </div>
                <div
                    class="ud-feedback__prompt-questions ud-feedback__prompt-questions--get-help feedback-buttons">
                    <a href="@Model.HelpButtonLink" id="ud-get-help"
                       class="govuk-button ud-feedback__button">@Model.HelpButtonText</a>
                </div>
            </div>
        </div>
    }

    <div id="ud-improve-service"
         class="ud-feedback__form ud-feedback__form--email ud-feedback__js-show">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div id="ud-improve-service-body">
                    @Html.Raw(Model.ImproveServiceBody)
                </div>
                @if (TrackingConfiguration.UseCookies)
                {
                    <button id="ud-cancel" class="govuk-button govuk-button--secondary" aria-expanded="true" hidden>
                        @Model.CancelButtonText
                    </button>
                }
            </div>
        </div>
    </div>

</div>