@model Dfe.EarlyYearsQualification.Web.Models.Content.QualificationListModel;

@{
    ViewData["Title"] = "Qualifications";
}

@section BeforeMainContent {
    @{
        await Html.RenderPartialAsync("Partials/BackButton", Model.BackButton);
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
        <h2 id="your-search-header" class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--m">@Model.SearchCriteriaHeading</label>
        </h2>
        <ul class="govuk-list govuk-list--bullet">
            <li id="filter-country">@Model.Filters.Country</li>
            <li id="filter-start-date">@Model.Filters.StartDate</li>
            <li id="filter-level">@Model.Filters.Level</li>
            <li id="filter-org">@Model.Filters.AwardingOrganisation</li>
        </ul>

        <div id="post-filter-content">@Html.Raw(Model.PostSearchCriteriaContent)</div>
    </div>
    <div class="govuk-grid-column-three-quarters">
        <div class="govuk-grid-row">
            <h1 id="heading" class="govuk-heading-xl mb-8">@Model.Header</h1>
        </div>
        <div class="govuk-grid-row">
            <h3 id="found-heading" class="govuk-heading-m govuk-!-static-margin-bottom-8">
                <strong>
                    @if (Model.Qualifications.Count > 0)
                    {
                        @(Model.Qualifications.Count + " " + (Model.Qualifications.Count == 1 ? Model.SingleQualificationFoundText : Model.MultipleQualificationsFoundText))
                    }
                    else
                    {
                        @(Model.NoQualificationsFoundText + " " + Model.MultipleQualificationsFoundText)
                    }
                </strong>
            </h3>
        </div>
        <div class="govuk-grid-row">
            <div id="pre-search-content">@Html.Raw(Model.PreSearchBoxContent)</div>
        </div>
        <div class="govuk-grid-row">
            @using (Html.BeginForm("Refine", "QualificationDetails", FormMethod.Post, new { @class = "float-left", style = "width:80%" }))
            {
                <input class="govuk-input" style="width: 85%" id="refineSearch" name="refineSearch" aria-label="refine search box" type="text" value="@Model.SearchCriteria">
                <button id="refineSearchButton" type="submit" class="govuk-button govuk-button--secondary govuk-!-static-margin-left-1" data-module="govuk-button">
                    @Model.SearchButtonText
                </button>
            }
            @using (Html.BeginForm("Refine", "QualificationDetails", FormMethod.Post, new { @class = "float-left", style = "width:20%" }))
            {
                <input name="refineSearch" type="hidden" value="">
                <button id="clear-search" type="submit" class="govuk-link button-as-link float-left govuk-!-static-margin-left-3 govuk-!-static-margin-top-1 govuk-!-font-size-19">@Model.ClearSearchText</button>
            }
        </div>
        <div class="govuk-grid-row">
            @if (Model.Qualifications.Count == 0)
            {
                <div id="no-result-content">
                    @Html.Raw(Model.NoResultText)
                </div>
            }
        </div>

        @foreach (var qualification in Model.Qualifications)
        {
            <div class="govuk-grid-row">
                <div class="chevron-card__wrapper">
                    <a href="@Url.Action("Index", "ConfirmQualification", new { qualificationId = qualification.QualificationId })" class="govuk-link govuk-heading-m chevron-card__link">
                        @qualification.QualificationName
                    </a>
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                </div>
            </div>
        }
        <div class="govuk-grid-row">
            <div id="post-list-content">@Html.Raw(Model.PostQualificationListContent)</div>
        </div>
    </div>
</div>