@model Dfe.EarlyYearsQualification.Web.Models.Content.QualificationSearchModel;

@{
    ViewData["Title"] = "Qualifications";
    string[] qualifications = ["eyq-140", "eyq-150", "eyq-160", "eyq-170", "eyq-180", "eyq-220", "eyq-240"];
}

<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h1 class="govuk-label-wrapper">
      <label class="govuk-label govuk-label--m" for="event-name">
        Your search
      </label>
    </h1>
    <ul class="govuk-list govuk-list--bullet">
      @if(!string.IsNullOrEmpty(Model.SearchParams.LevelOfQual))
      {
        <li>@Model.SearchParams.LevelOfQual</li> 
      }

      @if(!string.IsNullOrEmpty(Model.SearchParams.WhereWasQualAwarded))
      {
        <li>@Model.SearchParams.WhereWasQualAwarded</li> 
      }
    </ul>

    <p class="govuk-body">
      <a href="/" class="govuk-link">Change my search</a>
    </p>

  </div>
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Temporary page</h1>
        <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Qualification link</th>
            </tr>
            </thead>
            @* <tbody class="govuk-table__body">
            @foreach (var qualification in Model.Qualifications)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">@Html.ActionLink(qualification.QualificationName, "Index", new { qualificationId = qualification.QualificationId })</td>
                    <td>Level: @qualification.QualificationLevel</td>
                </tr>
            }
            </tbody> *@
            <ul class="govuk-list govuk-list--spaced">
            @foreach (var qualification in Model.Qualifications)
            {
              <li>
                <div>
                  <h2>
                    @Html.ActionLink(qualification.QualificationName, "Index", new { qualificationId = qualification.QualificationId })
                  </h2>
                  <p>
                    <strong>
                      Level: 
                    </strong>
                    @qualification.QualificationLevel
                  </p>
                  <p>
                    <strong>
                      Awarding Organisation: 
                    </strong>
                    @qualification.AwardingOrganisationTitle
                  </p>
                </div>
              </li>
              <hr />
            }
            </ul>
        </table>
    </div>
</div>