@model Dfe.EarlyYearsQualification.Web.Models.Content.QualificationListModel;

@{
    ViewData["Title"] = "Qualifications";
    string[] qualifications = ["eyq-140", "eyq-150", "eyq-160", "eyq-170", "eyq-180", "eyq-220", "eyq-240"];
}

@{
    await Html.RenderPartialAsync("Partials/BackButton", @Model.BackButton);
}
<main class="govuk-main-wrapper pb-3" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--m">Your Search</label>
            </h1>
            <ul class="govuk-list govuk-list--bullet">
                @if (!string.IsNullOrEmpty(Model.Filters?.WhereWasQualificationAwarded))
                {
                    <li>@Model.Filters!.WhereWasQualificationAwarded</li>
                }

                @if (!string.IsNullOrEmpty(Model.Filters?.WhenWasQualificationAwarded))
                {
                    <li>@Model.Filters!.WhenWasQualificationAwarded</li>
                }

                @if (!string.IsNullOrEmpty(Model.Filters?.LevelOfQualification))
                {
                    <li>@Model.Filters!.LevelOfQualification</li>
                }

                @if (!string.IsNullOrEmpty(Model.Filters?.WhatIsTheAwardingOrganisation))
                {
                    <li>@Model.Filters!.WhatIsTheAwardingOrganisation</li>
                }
            </ul>
            
            <p class="govuk-body">
                <a href="/" class="govuk-link">Change my search</a>
            </p>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">@Model.Header</h1>
            <table class="govuk-table">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Qualification link</th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                @foreach (var qualification in qualifications)
                {
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">@Html.ActionLink(qualification, "Index", new { qualificationId = qualification })</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</main>