@model Dfe.EarlyYearsQualification.Web.Models.Content.QualificationDetailsModel

@{
    ViewData["Title"] = $"Qualification Details - {Model.QualificationId}";
}

@section BeforeMainContent {
    @{
        await Html.RenderPartialAsync("Partials/BackButton", Model.BackButton);
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
        <span class="govuk-caption-xl gem-c-title__context" id="page-header">
            @Model.Content!.MainHeader
        </span>
        <h1 class="govuk-heading-xl" id="qualification-name-value">@Model.QualificationName</h1>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" id="awarding-organisation-label">
                    @Model.Content.AwardingOrgLabel
                </dt>
                <dd class="govuk-summary-list__value" id="awarding-organisation-value">
                    @Model.AwardingOrganisationTitle
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" id="qualification-level-label">
                    @Model.Content.LevelLabel
                </dt>
                <dd class="govuk-summary-list__value" id="qualification-level-value">
                    @Model.QualificationLevel
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" id="qualification-number-label">
                    @Model.Content.QualificationNumberLabel
                </dt>
                <dd class="govuk-summary-list__value" id="qualification-number-value">
                    @Model.QualificationNumber
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" id="from-which-year-label">
                    @Model.Content.DateAddedLabel
                </dt>
                <dd class="govuk-summary-list__value" id="from-which-year-value">
                    @Model.FromWhichYear
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" id="date-of-check-label">
                    @Model.Content.DateOfCheckLabel
                </dt>
                <dd class="govuk-summary-list__value" id="date-of-check-value">
                    @DateTime.UtcNow.ToString("dd MMMM yyyy")
                </dd>
            </div>
        </dl>
    </div>
    <div class="govuk-grid-column-full govuk-!-static-margin-top-6">
        <h2 class="govuk-heading-l" id="ratio-heading">@Model.Content.RatiosHeading</h2>
        @Html.Raw(Model.Content.RatiosText)
        <dl class="govuk-summary-list">
            @{
                if (Model.RatioRequirements.ApprovedForLevel2 || Model.RatioRequirements.ApprovedForLevel3 || Model.RatioRequirements.ApprovedForLevel6)
                {
                    if (Model.RatioRequirements.ApprovedForLevel6)
                    {
                        await Html.RenderPartialAsync("Partials/RatioRow", new RatioRowModel
                                                                           {
                                                                               LevelText = "Level 6",
                                                                               IsApproved = Model.RatioRequirements.ApprovedForLevel6
                                                                           });
                    }
                    
                    if (Model.RatioRequirements.ApprovedForLevel3)
                    {
                        await Html.RenderPartialAsync("Partials/RatioRow", new RatioRowModel
                                                                           {
                                                                               LevelText = "Level 3",
                                                                               IsApproved = Model.RatioRequirements.ApprovedForLevel3
                                                                           });
                    }
                    
                    if (Model.RatioRequirements.ApprovedForLevel2)
                    {
                        await Html.RenderPartialAsync("Partials/RatioRow", new RatioRowModel
                                                                           {
                                                                               LevelText = "Level 2",
                                                                               IsApproved = Model.RatioRequirements.ApprovedForLevel2
                                                                           });
                    }
                }
                
                // Unqualified ratio should always show as approved 
                await Html.RenderPartialAsync("Partials/RatioRow", new RatioRowModel
                                                                   {
                                                                       LevelText = "Unqualified",
                                                                       IsApproved = true
                                                                   });
                
                if (!Model.RatioRequirements.ApprovedForLevel2 || !Model.RatioRequirements.ApprovedForLevel3 || !Model.RatioRequirements.ApprovedForLevel6)
                {
                    if (!Model.RatioRequirements.ApprovedForLevel6)
                    {
                        await Html.RenderPartialAsync("Partials/RatioRow", new RatioRowModel
                                                                           {
                                                                               LevelText = "Level 6",
                                                                               IsApproved = Model.RatioRequirements.ApprovedForLevel6
                                                                           });
                    }
                    
                    if (!Model.RatioRequirements.ApprovedForLevel3)
                    {
                        await Html.RenderPartialAsync("Partials/RatioRow", new RatioRowModel
                                                                           {
                                                                               LevelText = "Level 3",
                                                                               IsApproved = Model.RatioRequirements.ApprovedForLevel3
                                                                           });
                    }
                    
                    if (!Model.RatioRequirements.ApprovedForLevel2)
                    {
                        await Html.RenderPartialAsync("Partials/RatioRow", new RatioRowModel
                                                                           {
                                                                               LevelText = "Level 2",
                                                                               IsApproved = Model.RatioRequirements.ApprovedForLevel2
                                                                           });
                    }
                }
            }
        </dl>
        <h2 class="govuk-heading-l govuk-!-static-margin-top-9" id="requirements-heading">@Model.Content!.RequirementsHeading</h2>
        @Html.Raw(Model.Content!.RequirementsText)
        <p class="govuk-body govuk-!-static-margin-top-9">
            <a id="check-another-qualification-link" href="@Model.Content.CheckAnotherQualificationLink?.Href" class="govuk-link">@Model.Content.CheckAnotherQualificationLink?.DisplayText</a>
        </p>
    </div>
</div>