@model Dfe.EarlyYearsQualification.Web.Models.Content.QualificationDetailsModel

@{
    ViewData["Title"] = $"Qualification Details - {Model.QualificationId}";
}

<a href="javascript:window.history.back()" class="govuk-back-link">Back</a>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl gem-c-title__context">
            Early Years Qualification List
        </span>
        <h1 class="govuk-heading-xl" id="qualification-name-value">@Model.QualificationName</h1>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Awarding organisation
                </dt>
                <dd class="govuk-summary-list__value" id="awarding-qualification-value">
                    @Model.AwardingOrganisationTitle
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Level
                </dt>
                <dd class="govuk-summary-list__value" id="qualification-level-value">
                    @Model.QualificationLevel
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Number
                </dt>
                <dd class="govuk-summary-list__value" id="qualification-number-value">
                    @Model.QualificationNumber
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date added to Early Years Qualification List
                </dt>
                <dd class="govuk-summary-list__value" id="from-which-year-value">
                    @Model.FromWhichYear
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date of check
                </dt>
                <dd class="govuk-summary-list__value">
                    @DateTime.UtcNow.ToString("dd MMMM yyyy")
                </dd>
            </div>
        </dl>
        <p id="notes-value">@Model.Notes</p>
        <p id="additional-requirements-value">@Model.AdditionalRequirements</p>
        <h2 class="govuk-heading-m">
            Bookmark a link to this qualification check
        </h2>
        <p>
            A permanent link to this qualification check is available at:
            <br>
            <br>
            <a href="#" class="govuk-link">@Model.BookmarkUrl</a>
        </p>
        <h2 class="govuk-heading-m">
            Check another qualification
        </h2>
        <p>Return to the start of the <a href="/" class="govuk-link">Check an early years qualification</a> service to check another qualification.</p>
        <h2 class="govuk-heading-m">
            Further information about the Early Years Qualification List
        </h2>
        <p>
            For more information on qualification requirements, see the <a href="https://www.gov.uk/government/publications/early-years-qualification-requirements-and-standards" class="govuk-link">early years qualification requirements and standards</a> statutory guidance and the <a href="https://www.gov.uk/government/publications/early-years-foundation-stage-framework--2" class="govuk-link">EYFS statutory framework</a>. Ensure that you refer to the correct version of the EYFS (group and school-based providers, or childminders).
        </p>
        <p>For information on non-UK qualifications, refer to the <a href="https://www.gov.uk/government/publications/early-years-qualifications-achieved-outside-england" class="govuk-link">early years qualifications achieved outside the United Kingdom</a> guidance.</p>
        <div class="govuk-inset-text">
            <p>
                If you have further queries, contact Ecctis. Information on the <a rel="external" href="https://ecctis.com/Qualifications/eys/Default.aspx" class="govuk-link">guidance Ecctis is able to provide</a> can be found on its website.
            </p>
            <p>
                If you contacted the DfE early years workforce team prior to 5 September 2022, you do not need to contact Ecctis.
            </p>
      </div>
    </div>
</div>