@model Dfe.EarlyYearsQualification.Web.Models.Content.FeedbackFormConfirmationPageModel

@{
    ViewData["Title"] = "Help Confirmation Page";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title" id="success-message">
                @Model.SuccessMessage
            </h1>
        </div>
        <div class="govuk-body govuk-!-margin-top-8" id="main-confirmation-body">@Html.Raw(Model.Body)</div>
        @if (Model.ShowOptionalSection)
        {
            <h2 class="govuk-heading-m govuk-!-margin-top-4" id="optional-body-heading">@Model.OptionalEmailHeading</h2>
            <div class="govuk-body" id="optional-confirmation-body">@Html.Raw(Model.Body)</div>
        }
        @{
            var link = Model.ReturnToHomepageLink;
            <div class="govuk-body">
                <a id="return-button" href="@link!.Href" class="govuk-link"
                   target=@(link.OpenInNewTab ? "_blank" : "")>@link.DisplayText</a>
            </div>
        }
    </div>
</div>