@using Dfe.EarlyYearsQualification.Web.Models.Content
@using Dfe.EarlyYearsQualification.Web.Models.Content.QuestionModels
@model Dfe.EarlyYearsQualification.Web.Models.Content.GiveFeedbackPageModel

@{
    ViewData["Title"] = Model.Heading;
}

@section Scripts
{
    @* <script src="~/js/pages/challenge-page.js" asp-append-version="true"></script> *@
}

@section BeforeMainContent {
    @{
        await Html.RenderPartialAsync("Partials/BackButton", Model.BackButton);
    }
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
        @* @if (Model.ErrorSummaryModel != null) *@
        @* { *@
        @*     await Html.RenderPartialAsync("Partials/ErrorSummary", Model.ErrorSummaryModel!); *@
        @* } *@
    
        <h1 id="feedback-page-heading" class="govuk-heading-xl">@Model.Heading</h1>
        <div id="feedback-page-body" class="govuk-body">
            <div class="govuk-!-margin-bottom-6">
                @Html.Raw(Model.PostHeadingContent)
            </div>
            @using (Html.BeginForm("Post", "GiveFeedback", FormMethod.Post, new { id = "feedback-form" }))
            {
                @foreach (var question in Model.Questions)
                {
                    <div class="govuk-!-margin-bottom-6">
                        @if (question.GetType() == typeof(FeedbackFormQuestionRadioModel))
                        {
                            var questionData = question as FeedbackFormQuestionRadioModel;
                            <h2 class="govuk-heading-m">@questionData!.Question</h2>
                            <div class="govuk-radios" data-module="govuk-radios">
                                @foreach (var option in questionData.OptionsItems)
                                {
                                    var optionModel = option as OptionModel;
                                    //var @checked = optionModel!.Value == Model.Option ? "checked" : "";
                                    <div class="govuk-radios__item">

                                        @Html.RadioButtonFor(x => x.RadioAnswers[0], optionModel!.Value, new { @class = "govuk-radios__input", id = optionModel.Value })
                                        <label class="govuk-label govuk-radios__label" for="@optionModel.Value">
                                            @optionModel.Label
                                        </label>
                                        @if (!string.IsNullOrEmpty(optionModel.Hint))
                                        {
                                            var hintId = $"{optionModel.Value}_hint";
                                            <div id="@hintId" class="govuk-hint govuk-radios__hint">
                                                @optionModel.Hint
                                            </div>
                                        }
                                    </div>
                                }
                            </div>
                        }
                    </div>
                }
                
    
                <button id="feedback-form-submit" type="submit" class="govuk-button" data-module="govuk-button">@Model.CtaButtonText</button>
            }
        </div>
    </div>
</div>